### Gradle ###
.gradle
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
**/build/
.gradletasknamecache
bin/
.project
.settings
.classpath

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.db

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### MacOS ###
*.DS_Store

.openapi-generator-ignore
.openapi-generator/
user-microservice/src/main/java/nl/tudelft/sem/template/README.md
user-microservice/src/main/java/nl/tudelft/sem/template/pom.xml
user-microservice/README.md
user-microservice/pom.xml
